*{
    margin: 0;
    font-family: Arial ;
    border: border-box;
}

.nav-bar{
    height: 60px;
    background-color : #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box2 styling  */

.add-first{
    color: #f8f8f8;
    font-size: 0.85rem;
    margin-left: 15px;
    
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
    
}

.add-icon{
    display: flex;
    align-items: center;
}

/*Box 3 search bar   */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}


.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}
/* box4  */

span{
    font-size: 0.7rem;
}


.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-cart i {
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel  */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p{
    display: inline;
    margin-left: 10px;

}

.panel-option {
    width: 70%; 
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url(hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero-msg a{
    color: #007185;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 60px;
}


/* Shop Section  */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}


.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 20px;
    margin-right: 20px;   
}

.box-content p{
    color: #007185;
}

/* third box coding  */

.third-box{
    height: 200px; 
    background-color: #e2e7e6;
    display: flex;
    justify-content: center;
}

.thirdbox-content{
    background-image: url(box1_image.jpg);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 97%;
    display: flex;
    height: 100%;
    margin-top: 50px;   
}

.thirdbox-content h1{
    margin-top: 20px;
    margin-left: 10px;
}

.thirdbox-content p{
    margin-top: 30px;
    margin-left: 10px;
}